<!-- Tabs Start -->
<div class="tabs">
    <!-- UL Start -->
    <ul>
        <li class="active">
            <span class="icon">
					<i class="fas fa-download"></i>
				</span>
            <span class="text">Kirim</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-upload"></i>
				</span>
            <span class="text">Chiqim</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-bank"></i>
				</span>
            <span class="text">Pul olish</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-money"></i>
				</span>
            <span class="text">Pul berish</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-gift"></i>
				</span>
            <span class="text">Tovarlar</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-sitemap"></i>
				</span>
            <span class="text">Sinflar</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-box"></i>
				</span>
            <span class="text">Omborlar</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-handshake"></i>
				</span>
            <span class="text">Hamkorlar</span>
        </li>
        <li id="operatsiya">
            <span class="icon">
					<i class="fas fa-gears"></i>
				</span>
            <span class="text">Operatsiyalar</span>
        </li>
        <li>
            <span class="icon">
					<i class="fas fa-gear"></i>
				</span>
            <span class="text">Sozlamalar</span>
        </li>
    </ul>
    <!-- UL end -->
</div>
<!-- Tabs end -->