@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$tcolor: #7d2ae8;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #f2f2f2;
}
section{
  position: relative;
  margin: 12vh auto;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: red;
}
.swiper{
  width: 950px;
}
.swiper-button-next, .swiper-button-prev{
  opacity: .7;
  color: $tcolor;
  transition: all .3s ease;
  &:hover{
    opacity: 1; 
  }
}