body{margin:0; padding:0; }
td, body{font:.75rem Tahoma, Verdana, Arial, sans-serif; color:#000; }
label{cursor:pointer; display:inline; margin:0; vertical-align:middle; }
fieldset{border:1px solid; padding:2px 5px; margin-bottom:3px; }
legend{padding:0 3px 2px; }

a:link, a:visited, a:hover, a:active{text-decoration:underline; }
a.noun:link, a.noun:visited, a.noun:hover, a.noun:active,
.breadcrumbs .panelBar a:last-child{text-decoration:none; }

img{border:0 none; }
hr{height:1px; border-top:0; border-style:dashed; }
hr.sl{border-style:solid; }

form{padding:0; margin:0; }

input, select, textarea { font:normal .75rem sans-serif; color:#515151; outline:none; box-sizing:border-box; }
input:not([type=color]):not([type=file]):not([type=button]):not(.tmplCodeH),
select { vertical-align:middle; background:linear-gradient(#0001, #fff .5rem); border:1px solid; padding:1px 0; }
input:not([type=color]):not([type=file]):not([type=button]):not(.tmplCodeH){padding:2px 3px; }
input[type=checkbox],
input[type=radio]{margin:1px 2px 0 1px; }
input[readonly]{color:#bbb; }
textarea{font:.8rem monospace; width:100%; box-sizing:border-box; }
textarea, .mySelect{padding:2px 3px; border:1px solid; background:linear-gradient(#0001, #fff 1.1rem); }

ul{}
ul.no-list-style{list-style:none; margin:0; padding:0; }


small{font-size:.9em; }

/* common colors */
.-maroon{color:maroon; }
.-red{color:red; }
.-blue{color:blue; }
.-green{color:green; }
.-violet{color:violet; }
.-orange{color:orange; }
/* text align */
.text-center, [text-center] { text-align:center; }
.text-justify, [text-justify] { text-align:justify; }
.text-right, [text-right] { text-align:right; }

.warning{color:maroon; text-align:center; }
.error{color:red; text-align:center; }

[warning-icon]{display:flex; align-items:center; margin:1em auto; background:url('/.s/img/icon/32/att.png') no-repeat center left 5px;
	min-height:32px; padding-left:45px; }

#eMessage{text-align:right; padding:0 .25em 0 0; }
.myWinLoadS, .myWinLoadSD, .myWinLoadSF{display:inline-block; }

/* common flex rules */
[flex-between]{display:flex; justify-content:space-between; }
[flex-around]{display:flex; justify-content:space-around; }
[flex-evenly]{display:flex; justify-content:space-evenly; }
[flex-center]{display:flex; justify-content:center; }
[flex-end]{display:flex; justify-content:flex-end; }
[flex-start]{display:flex; justify-content:flex-start; }

[flex-nowrap] { display:flex; flex-wrap:nowrap; }

[flex-grow1] { display:flex; flex-grow:1; }
[flex-grow2] { display:flex; flex-grow:2; }

[flex-align-start]{display:flex; align-items:flex-start; }
[flex-align-center]{display:flex; align-items:center; }

[flex-column]{display:flex; flex-direction:column; }

[break-before], .break-before { margin-top:1rem; }
[half-break-before], .half-break-before { margin-top:.5rem; }
[break-after], .break-after { margin-bottom:1rem; }
[half-break-after], .half-break-after { margin-bottom:.5rem; }
[break-both], .break-both { margin-top:1rem; margin-bottom:1rem; }
[half-break-both], .half-break-both { margin-top:.5rem; margin-bottom:.5rem; }

[ledge-start], .ledge-start { margin-left:1rem; }
[half-ledge-start], .half-ledge-start { margin-left:.5rem; }
[ledge-end], .ledge-end { margin-right:1rem; }
[half-ledge-end], .half-ledge-end { margin-right:.5rem; }
[ledge-both], .ledge-both { margin-left:1rem; margin-right:1rem; }
[half-ledge-both], .half-ledge-both { margin-left:.5rem; margin-right:.5rem; }

[full-width], .full-width { width:100%; }
[half-width], .half-width { width:50%; }
[quarter-width], .quarter-width { width:25%; }

[line-height-1], .line-height-1 { line-height:1.1rem; }
[line-height-2], .line-height-2 { line-height:1.2rem; }
[line-height-3], .line-height-3 { line-height:1.3rem; }
[line-height-4], .line-height-4 { line-height:1.4rem; }
[line-height-5], .line-height-5 { line-height:1.5rem; }

/* brackets */
.-square-brackets:before{content:'[ '; }
.-square-brackets:after{content:' ]'; }

.cp-columns { display:grid; gap:.25em 1em; grid-template-columns:repeat(3, 1fr); }
.cp-columns.columns4 { grid-template-columns:repeat(4, 1fr); }
.cp-columns.columns5 { grid-template-columns:repeat(5, 1fr); }
.cp-columns > span { text-align:justify; }

/* content wrapper */
#puzadpnadm { height:24px }  /* top bar */
#panel-side { width:240px; }
#panel-cont{}
.xw-mc.contentBg{padding:6px; }

.panelTop1 { padding-left:12px; line-height:1rem; box-sizing:border-box; background:url('/.s/img/ma/ar1.gif') no-repeat center left 5px; }
.topBlockM > table { border-spacing:0; }
.topBlockMain .panelTop1{padding:4px 5px 4px 16px; }

.myButton-wrapper{display:inline-block; vertical-align:middle; }

/* auto numerate table row */
table.autoNumerate{counter-reset:count; }
table.autoNumerate th:first-child,
table.autoNumerate th:last-child{width:5%; }
table.autoNumerate td[num]:before{content:counter(count); counter-increment:count; }
table.autoNumerate td[num]{text-align:center; }
/* table.autoNumerate td:last-child{text-align:center; } */

/* used (space|message) informer */
.pbarContainer{z-index:56; position:absolute; top:calc(50% - 6px); right:0; width:55px; height:11px; background:#eee; cursor:help;
	margin:0 10px; border-radius:2px; border:1px solid #bbb; box-sizing:border-box; text-align:left; }
.pbarContainer:after{content:attr(data-title); position:absolute; width:140px; right:0; font-size:10px; background:rgba(0,0,0,.68);
	color:#fff; top:15px; padding:4px; box-sizing:border-box; border-radius:3px; visibility:hidden; text-align:center; }
.pbarContainer:before{content:''; display:block; position:absolute; width:10px; height:10px; border:5px solid transparent;
	border-bottom-color:rgba(0,0,0,.68); box-sizing:border-box; top:5px; right:12%; visibility:hidden; }
.pbarContainer:hover:before, .pbarContainer:hover:after{visibility:visible; }
.pbarFiller{height:100%; border-radius:1px; background:#51b5ea; box-sizing:border-box;
	word-break:break-word; max-width:100%; min-width:1%; }
.pbarFiller[style*='width:5']:not([style*='width:5%']),
.pbarFiller[style*='width:6']:not([style*='width:6%']){background:#f90; }
.pbarFiller[style*='width:7']:not([style*='width:7%']),
.pbarFiller[style*='width:8']:not([style*='width:8%']),
.pbarFiller[style*='width:9']:not([style*='width:9%']),
.pbarFiller[style*='width:10']:not([style*='width:10%']){background:red; }

/* Modules Menu */
.MmenuOut{display:flex; justify-content:space-between; border:1px solid transparent; border-radius:3px; margin:2px; padding:0 2px; height:19px; }
.MmenuOut:hover, .MmenuSelected{box-shadow:inset 0 0 1px 1px #fff; box-shadow:inset 0 0 1px 1px rgba(255,255,255,.75); }
.mmenuItem{display:flex; padding:1px 0; flex-grow:1; }
.mmenuItem:before{display:block; content:''; width:1rem; margin:0 6px 0 0; background-repeat:no-repeat; background-position:center center; }
.mnSub{cursor:pointer; width:10px; background-repeat:no-repeat; background-position:center center; }
.mm-submenu{width:230px; position:absolute; z-index:51; box-sizing:border-box; }
.mm-submenu [content]{padding:0; }

.MmenuOut a, .MmenuOut a:hover{text-decoration:none; color:#000; outline:none; flex-grow:1; line-height:1.3; }
.mmenuItem a{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:150px; }
a.mmla:link, a.mmla:visited, a.mmla:hover, a.mmla:active{font-weight:bold; }
.sbm a{display:block; text-decoration:none; padding:4px 8px; color:#000; }

.mm1w:before{background-image:url('/.s/img/icon/1w.png'); }
.mm1o:before{background-image:url('/.s/img/icon/1o.png'); }
.mm1n:before{background-image:url('/.s/img/icon/1n.png'); }
.mmsi:before{background-image:url('/.s/img/icon/si.png'); }
.mmus:before{background-image:url('/.s/img/icon/us.png'); }
.mmgb:before{background-image:url('/.s/img/icon/gb.png'); }
.mmfr:before{background-image:url('/.s/img/icon/fr.png'); }
.mmpu:before{background-image:url('/.s/img/icon/pu.png'); }
.mmbl:before{background-image:url('/.s/img/icon/bl.png'); }
.mmph:before{background-image:url('/.s/img/icon/ph.png'); }
.mmnw:before{background-image:url('/.s/img/icon/nw.png'); }
.mmmf:before{background-image:url('/.s/img/icon/mf.png'); }
.mmst:before{background-image:url('/.s/img/icon/st.png'); }
.mmpo:before{background-image:url('/.s/img/icon/po.png'); }
.mmfq:before{background-image:url('/.s/img/icon/fq.png'); }
.mmld:before{background-image:url('/.s/img/icon/ld.png'); }
.mmdr:before{background-image:url('/.s/img/icon/dr.png'); }
.mmbd:before{background-image:url('/.s/img/icon/bd.png'); }
.mmmc:before{background-image:url('/.s/img/icon/mc.png'); }
.mmts:before{background-image:url('/.s/img/icon/ts.png'); }
.mmse:before{background-image:url('/.s/img/icon/se.png'); }
.mmsh:before{background-image:url('/.s/img/icon/sh.png'); }
.mmsf:before{background-image:url('/.s/img/icon/sf.png'); }
.mmvi:before{background-image:url('/.s/img/icon/vi.png'); }
.mmcs:before{background-image:url('/.s/img/icon/cs.png'); }
.mmso:before{background-image:url('/.s/img/icon/so.png'); }
.mmfy:before{background-image:url('/.s/img/icon/ya_feed.png'); }

.servs-switchers div{width:45%; text-align:center; border:1px solid; border-top:none; font-size:.7rem; border-radius:0 0 2px 2px; }
.servs-switchers div a{outline:none; display:block; width:100%; text-decoration:none; }
.servs-switchers .MnotActive:first-child{border-right:none; border-bottom-right-radius:0; }
.servs-switchers .MnotActive:last-child{border-left:none; border-bottom-left-radius:0; }
.Mactive{line-height:25px; }
.MnotActive{line-height:21px; }
.Mactive a:link, .Mactive a:visited, .Mactive a:hover{cursor:text; }
/* ------------ */

/* servMenuList icons */
[container] .servMenuList .servmenu { background-position:left center; background-repeat:no-repeat; line-height:1.5rem; padding-left:1.5rem; }
[container] .servMenuList .mdesc { margin:0 0 .5rem; padding-left:1.5rem; }
.serv-icon-dsg   .servmenu { background-image:url('/.s/img/icon/dsg.png'); }
.serv-icon-fm    .servmenu { background-image:url('/.s/img/icon/fm.png'); }
.serv-icon-inf   .servmenu { background-image:url('/.s/img/icon/inf.png'); }
.serv-icon-rt    .servmenu { background-image:url('/.s/img/icon/rt.png'); }
.serv-icon-sg    .servmenu { background-image:url('/.s/img/icon/sg.png'); }
.serv-icon-cs    .servmenu { background-image:url('/.s/img/icon/cs.png'); }
.serv-icon-tf    .servmenu { background-image:url('/.s/img/icon/tf.png'); }
.serv-icon-copy  .servmenu { background-image:url('/.s/img/icon/copy.png'); }
.serv-icon-seo   .servmenu { background-image:url('/.s/img/seo.png'); }
.serv-icon-tr    .servmenu { background-image:url('/.s/img/icon/tr.png'); }
.serv-icon-bu    .servmenu { background-image:url('/.s/img/icon/bu.png'); }
.serv-icon-like  .servmenu { background-image:url('/.s/img/icon/like.png'); }
.serv-icon-hp    .servmenu { background-image:url('/.s/img/icon/hp.png'); }
.serv-icon-sc    .servmenu { background-image:url('/.s/img/icon/sc.png'); }
.serv-icon-divly .servmenu { background-image:url('https://divly.ru/favicon.ico'); }
.serv-icon-grp   .servmenu { background-image:url('/.s/img/icon/grp.png'); }
.serv-icon-set   .servmenu { background-image:url('/.s/img/icon/set.png'); }
.serv-icon-rnk   .servmenu { background-image:url('/.s/img/icon/rnk.png'); }
.serv-icon-eml   .servmenu { background-image:url('/.s/img/icon/eml.png'); }
.serv-icon-cmn   .servmenu { background-image:url('/.s/img/icon/cmn.png'); }
.serv-icon-usd   .servmenu { background-image:url('/.s/img/icon/usd.png'); }
.serv-icon-rl    .servmenu { background-image:url('/.s/img/icon/rl.png'); }
.serv-icon-ava   .servmenu { background-image:url('/.s/img/icon/ava.png'); }
.serv-icon-pgs   .servmenu { background-image:url('/.s/img/icon/pgs.png'); }
.serv-icon-cats  .servmenu { background-image:url('/.s/img/icon/cats.png'); }
.serv-icon-pent  .servmenu { background-image:url('/.s/img/icon/pent.png'); }
.serv-icon-edt   .servmenu { background-image:url('/.s/img/icon/edt.png'); }
.serv-icon-flt   .servmenu { background-image:url('/.s/img/icon/flt.png'); }
.serv-icon-ad    .servmenu { background-image:url('/.s/img/icon/ad.png'); }
.serv-icon-po    .servmenu { background-image:url('/.s/img/icon/po.png'); }
.serv-icon-st    .servmenu { background-image:url('/.s/img/icon/st.png'); }
.serv-icon-mc    .servmenu { background-image:url('/.s/img/icon/mc.png'); }
.serv-icon-so_iconm_01 .servmenu { background-image:url('/.s/img/so_iconm_01.png'); }
.serv-icon-so_iconm_02 .servmenu { background-image:url('/.s/img/so_iconm_02.png'); }
.serv-icon-so_iconm_03 .servmenu { background-image:url('/.s/img/so_iconm_03.png'); }
.serv-icon-so_iconm_04 .servmenu { background-image:url('/.s/img/so_iconm_04.png'); }

/* panel/module main page - TODO*/
.servmenuhead, [container] .servmenuhead { text-transform:uppercase; font-weight:bold; font-size:.75rem; line-height:2.1; padding-left:25px; background-repeat:no-repeat; background-position:left 3px center; }
.servMenuList {  }
.module-utils { line-height:2.5; padding-left:1.5rem; }
.module-utils .fa{padding:0 3px; }

/* Js-bar settings page stylesheet */
ul#js_bar_settings{list-style:none; margin:0; padding:20px; font:normal 14px; float:left; }
ul#js_bar_settings li{background:none; margin:0 0 10px 0; float:left; clear:left; width:100%; padding:0; }
ul#js_bar_settings li#jsbar_preview_wrapper{border:1px dashed #dadada; position:relative; padding:10px 0; }

#s_loading{width:32px; height:32px; background:url(/.s/img/sape/s_loading.gif) no-repeat; position:absolute; left:50%; top:50%; margin-left:-16px; margin-top:-16px; border-radius:5px; border:5px solid #fff; display:none; z-index:99999; }

#jsbar_preview_title{position:absolute; background:#fff; color:#9a9a9a; font-size:11px; left:40px; top:-7px; }
#jsbar_preview{border:none; }

#js_icon_wrapper{padding:0 10px 0 18px; }
#js_icon_wrapper img{margin-bottom:-7px; }

ul#js_bar_settings .jsbar_s_buttons_setup .sb_s{float:left; margin:0 8px 0 0; text-align:center; width:auto; padding:0; clear:none; }
.jsbar_s_buttons_setup{float:left; width:100%; list-style:none; margin:0; padding:0; margin-top:10px; }

.sb_s label{margin-bottom:5px; }

.clr{float:none; clear:both; }

.jsbar_buttons_setup{float:left; clear:left; width:100%; }
.jsbar_buttons_setup ul{list-style:none; margin:0; padding:15px 0 0 0; }
.jsbar_buttons_setup ul li label{margin-left:5px; }

.field_input{display:none; }

.js_ok, .js_cancel{display:none; }

#jsfriends_wrapper a,
#jssearch_wrapper a,
#vkapid_wrapper a{margin-left:3px; }
#jsfriends_wrapper a img,
#jssearch_wrapper a img,
#vkapid_wrapper a img{margin-bottom:-3px; }

#eMessage.jsbar_e{/*height:31px; */ float:right; }
#eMessage.jsbar_e .myWinLoadSD,
#eMessage.jsbar_e .myWinLoadSF,
#eMessage.jsbar_e .myWinLoadS{height:7px; width:auto; padding:7px 27px 17px 40px; }
#eMessage.jsbar_e .myWinLoadSD{background:url('/.s/img/icon/ok.png') no-repeat 5px center #e7fadd; border:1px dashed #afd39a; color:#629c40; }
#eMessage.jsbar_e .myWinLoadSF{background:url('/.s/img/icon/er.png') no-repeat 5px center #ffd2d2; border:1px dashed #ff3737; color:#ff3737; }
#eMessage.jsbar_e .myWinLoadS{background:url('/.s/img/wd/3/ajaxs.gif') no-repeat 5px center #f0f0f0; border:1px dashed #bcbfc4; color:#bababa; }
/* end js-bar settings page stylesheet */

select option.top{font-weight:bold; }
select option[selected]{background:#ddd; }
select#site_class_rtb{width:100%; }

#js_delete_wrapper{float:left; clear:left; margin:5px 0 5px 100px; width:100%; font-style:italic; }

/* template $CODE$ */
input[readonly].tmplCodeH,
input[readonly].tmplCodeHo{padding:1px; margin:0; color:inherit; font-family:monospace; text-align:left; box-sizing:border-box; }
input.tmplCodeH::-moz-selection{color:#fff; }
input.tmplCodeH::selection{color:#fff; }
.myWinCont input[readonly].tmplCodeH,
.myWinCont input[readonly].tmplCodeH:hover{padding:1px 2px; margin:0; color:inherit; font:8.7pt monospace; }
#prov_wrapper .tmplCodeH, #prov_wrapper .tmplCodeHo{padding:2px 4px; color:inherit; }

.uauth-small-links{margin:10px 0 0 0; }
.uauth-icon{display:inline-block; vertical-align:middle; width:32px; height:32px; margin:0 3px; border-radius:50%; cursor:pointer;
	background:#ccc url('/.s/img/icon/social/uauth_icons_32x32.png') no-repeat;
	transition:background-color .3s .05s ease-out, color .2s .05s ease-out; }

.uauth-uid{background-position:0 0; }
.uauth-uid.active{background-color:#3498db; }
.uauth-loc{background-position:0 -160px; }
.uauth-loc.active{background-color:#6b6b6b; }
.uauth-vk{background-position:0 -32px; }
.uauth-vk.active{background-color:#2f6caa; }
.uauth-fb{background-position:0 -64px; }
.uauth-fb.active{background-color:#4862a5; }
.uauth-gplus{background-position:0 -96px; }
.uauth-gplus.active{background-color:#515151; }
.uauth-twt{background-position:0 -128px; }
.uauth-twt.active{background-color:#01a9d3; }
/*---set-2---*/
.uauth-links-set2 .uauth-icon{border:1px solid #ccc; background-color:#fff; transition-delay:0; }
.uauth-links-set2 .uauth-icon.active{border-color:transparent; }
.uauth-links-set2 .uauth-uid{background-position:-32px 0; }
.uauth-links-set2 .uauth-uid:hover, .uauth-links-set2 .uauth-uid.active{background-position:0 0; background-color:#3498db; }
.uauth-links-set2 .uauth-loc{background-position:-32px -160px; }
.uauth-links-set2 .uauth-loc.active{background-position:0 -160px; background-color:#6b6b6b; }
.uauth-links-set2 .uauth-vk{background-position:-32px -32px; }
.uauth-links-set2 .uauth-vk.active{background-position:0 -32px; background-color:#2f6caa; }
.uauth-links-set2 .uauth-fb{background-position:-32px -64px; }
.uauth-links-set2 .uauth-fb.active{background-position:0 -64px; background-color:#4862a5; }
.uauth-links-set2 .uauth-gplus{background-position:-32px -96px; }
.uauth-links-set2 .uauth-gplus.active{background-position:0 -96px; background-color:#515151; }
.uauth-links-set2 .uauth-twt{background-position:-32px -128px; }
.uauth-links-set2 .uauth-twt.active{background-position:0 -128px; background-color:#01a9d3; }
/*---set-3---*/
.uauth-links-set3 .uauth-icon{border-radius:3px; background-color:#333; }
.uauth-links-set3 .uauth-uid{background-position:0 0; }
.uauth-links-set3 .uauth-uid.active{background-color:#3498db; }
.uauth-links-set3 .uauth-loc{background-position:0 -160px; }
.uauth-links-set3 .uauth-loc.active{background-color:#6b6b6b; }
.uauth-links-set3 .uauth-vk{background-position:0 -32px; }
.uauth-links-set3 .uauth-vk.active{background-color:#2f6caa; }
.uauth-links-set3 .uauth-fb{background-position:0 -64px; }
.uauth-links-set3 .uauth-fb.active{background-color:#4862a5; }
.uauth-links-set3 .uauth-gplus{background-position:0 -96px; }
.uauth-links-set3 .uauth-gplus.active{background-color:#515151; }
.uauth-links-set3 .uauth-twt{background-position:0 -128px; }
.uauth-links-set3 .uauth-twt.active{background-color:#01a9d3; }
/*---set-4---*/
.uauth-links-set4 .uauth-icon{border-radius:3px; background-color:#c9cbce; transition-delay:0; }
.uauth-links-set4 .uauth-uid{background-position:-64px 0; }
.uauth-links-set4 .uauth-uid.active{background-position:-96px 0; background-color:#3498db; }
.uauth-links-set4 .uauth-loc{background-position:-64px -160px; }
.uauth-links-set4 .uauth-loc.active{background-position:-96px -160px; background-color:#6b6b6b; }
.uauth-links-set4 .uauth-vk{background-position:-64px -32px; }
.uauth-links-set4 .uauth-vk.active{background-position:-96px -32px; background-color:#2f6caa; }
.uauth-links-set4 .uauth-fb{background-position:-64px -64px; }
.uauth-links-set4 .uauth-fb.active{background-position:-96px -64px; background-color:#4862a5; }
.uauth-links-set4 .uauth-gplus{background-position:-64px -96px; }
.uauth-links-set4 .uauth-gplus.active{background-position:-96px -96px; background-color:#515151; }
.uauth-links-set4 .uauth-twt{background-position:-64px -128px; }
.uauth-links-set4 .uauth-twt.active{background-position:-96px -128px; background-color:#01a9d3; }

/* Forum */
#forum_tbody{position:relative; }
#tbody_screen{display:block; position:absolute; left:0; top:0; width:100%; height:100%; opacity:0.6; }
.no-inherit-checked #tbody_screen{display:none; }

.catCtP.catCtPsub,
.catCtPA.catCtPsub{margin-left:25px; }

.catOrdOverItem{text-decoration:underline; }
.phtOrdFrame{border:1px dashed #ccc; background:none; }
#ordMainUl ul{list-style:none !important; padding-left:20px; }

#bonadw974s a,
#bonadw974s .myWinSuccess,
.myWinSuccess.myWinSuccess-green{color:green!important; }
.u-subscribe{width:100%; max-width:620px; margin:20px 0 15px 0; border-radius:5px; border:1px solid #c4ccd9; border-bottom-width:2px;
	overflow:hidden; }
.u-subscribe td{border:1px solid #c4ccd9; background:#fff; padding:10px 0; font-family:"Open Sans", sans-serif; font-size:13px;
	color:#464646; }
.u-subscribe td:first-child{background:#dee7f6; text-align:right; padding-right:20px; width:55%; }
.u-subscribe td:last-child{padding-left:40px; border-color:#e1e1e1; }
.unsubscribe-btn{border:2px solid #a3b3ce; text-decoration:none !important; font-family:"Open Sans", sans-serif; font-size:15px;
	text-transform:uppercase; color:#a3b3ce !important; font-weight:bold; padding:11px 27px; border-radius:8px; display:block;
	width:162px; box-sizing:border-box; margin:0 0 10px; transition:background 0.3s linear; }
.unsubscribe-btn:hover{background:#e16636; color:#fff!important; border-color:#e16636!important; }

.hidden-for-calendar{display:none; }

.u-payment-sum.note{text-align:center; font-size:12px; color:#494949; font-weight:normal; }
.u-payment-sum.note p span{color:#494949; }

/* some display actions */
[hidden],
.hidden{display:none; }
.show-sibling + *{display:contents; }
.show-sibling + tbody{display:table-row-group; }
.show-siblings ~ *{display:contents; }
.show-siblings ~ tbody{display:table-row-group; }

/* SSL settings/upload */
.ssl-info{position:relative; }
.ssl-info .panelBar{background-position:0 8px; }
.ssl-hashes input{display:block; width:100%; }
.contentBg.ssl{position:relative; min-height:250px; }
/* .contentBg.ssl form{padding:0 5px; } */
.contentBg.ssl input[type=file]{width:100%; }
.contentBg.ssl textarea{width:100%; resize:vertical; min-height:128px; }
.contentBg.ssl textarea:disabled{background:#bfbfbf; min-height:100px; }
.contentBg.ssl .additional textarea:not(:last-child){margin:0 0 10px; }
.contentBg.ssl .invalid{box-shadow:0 0 2px red; }
.contentBg.ssl #alertArea{color:maroon; text-align:center; }
.contentBg.ssl #alertArea > div{background:rgba(150, 0, 0, .2); margin:0 auto 10px; padding:10px; color:maroon; width:75%; }
/* .contentBg.ssl #eMessage + td > *{display:inline-block; vertical-align:middle; } */
/* .contentBg.ssl #get_key.button, */
/* .contentBg.ssl #add_field.button{font-size:8pt; padding:0 4px; border:1px solid; border-radius:3px; cursor:pointer; color:#000; background:linear-gradient(to bottom, #fff, #cfd1d8); box-sizing:border-box; height:19px; } */
/* .contentBg.ssl #add_field.button:disabled{color:#bfbfbf; } */
/* .contentBg.ssl .ssl-helper{margin:0 7px; } */
[adm-ssl-info] { margin:0; padding:5px; border:1px solid #88a1c2; background:#dfe8f6; color:brown; }


/* SSL buying */
.ssl-products th:first-child { width:3em; }
.ssl-products th:nth-of-type(3) { width:6em; }
.ssl-products th:nth-of-type(4) { width:12em; }
.ssl-products th:last-child { width:6em; }
.ssl-products td:not(:nth-of-type(2)) { text-align:center; }
.ssl-products select { width:9em; }

.currency-prefix:before { content:'$'; }
.currency-prefix.currency-rub:before { content:''; }
.currency-prefix.currency-rub:after { content:' ₽'; }

.domain-ssl-block { margin:0 1rem; }

#selectedPeriodPrice { font-weight:bold; width:2rem; font-size:1rem; }

.ssl-popup .fancybox-close { right:15px; top:15px; background:none; width:auto; height:auto; }
.ssl-popup .fancybox-close:before { content:'\2716'; display:flex; width:1.5rem; height:1.5rem; align-items:center; justify-content:center; background:#0006; border-radius:50%; font-size:.8rem; line-height:1rem; color:white; transition:all 0.2s linear; }
.ssl-popup .fancybox-close:hover:before { background:#0008; }
.ssl-popup input { max-width:50%; min-width:25%; line-height:2rem; margin:0 auto; padding:0 2rem; font-size:1rem;
	background:#00c57c; color:white; transition:all 0.2s linear; cursor:pointer; border:2px solid #00b06a; border-radius:.5rem; }
.ssl-popup input:hover { background:#00b06a; }

/* common new button style */
.cp-button{font-size:.75rem; padding:0 4px 1px; border:1px solid; border-radius:3px; cursor:pointer; color:#000; box-sizing:border-box; height:20px; white-space:nowrap; }
.cp-button:disabled{ color:#bfbfbf; }
.ubtn-default { padding: 0 12px; white-space: nowrap; user-select: none; height: 21px; font-family: Tahoma, Arial, Verdana; color: #000000; font-size: 0.67rem; border-radius: 3px; border: 1px solid; line-height: normal; outline: none; cursor: pointer; }

/* SSL payments page */
.payment-content { padding: 20px 20px; }
.payment-content .subtitle { margin: 0; padding: 0 0 10px; font: 24px/30px 'Arial'; }
.ssl-payment { border: 1px solid #c4cee0; border-radius: 5px; display: grid; grid-template-columns: 250px 1fr; }
.payment-aside { padding: 20px; }
.payment-summary { text-align: right; margin: 0 0 16px; font-weight: bold; font-size: 14px; }
.payment-summary.sub-info { font-weight: normal; }
.payment-content * { box-sizing: border-box; }
.payment-main { padding: 20px; border-left: 1px dashed #c4cee0; }
.payment-content iframe#upayucoz_frame { display: block; width: 100%; min-width: 600px; }

/* CSR/KEY generator */
.getSSLkey ul.keygen,
.getSSLkey ul.keygen li{list-style:none; background:none; padding:0; }
.getSSLkey ul.keygen{margin:20px 0 0; }
.getSSLkey ul.keygen li{display:block; margin:7px 0; padding:0; }
.getSSLkey ul.keygen li label:first-child{display:inline-block; width:25%; margin:0; padding:0; }
.getSSLkey ul.keygen li select,
.getSSLkey ul.keygen li input[type=text]{width:73%; }
.getSSLkey center{margin:20px 0 0; }
.getSSLkey center > *{display:inline-block; vertical-align:middle; }
.getSSLkey textarea.csr{height:auto; font:1.1em/1.1 monospace; resize:vertical; }
#SSLkeygen{height:99%; }

/* Заглушка при неоплаченном пакете услуг */
.nonpayed.cover{position:absolute; top:0; right:0; bottom:0; left:0; background:rgba(0, 0, 0, .25); z-index:10; }
.nonpayed.cover .alert{position:absolute; top:100px; right:0; left:0; width:75%; z-index:20; margin:0 auto; height:auto; background:#fff; padding:15px; }
.nonpayed.cover .alert .buy_package{display:block; width:75%; margin:15px auto 0; padding:15px; border-radius:3px; text-align:center; font:bold 1.5em/1 sans-serif; text-decoration:none; }

/* Версия для слабовидящих */
.vi_panel_props label{display:block; margin:0 0 3px; }
.vi_panel_props label.inline{display:inline-block; margin:0 4px 4px 0; }
.vi_panel_props select{min-width:90px;margin: 5px 0;}
.vi_panel_props .minicolors{border:none; padding-left: 21px;margin: 5px 0;}
.vi_panel_props .minicolors-theme-uCoz .minicolors-input{width:auto; padding-left:26px; height:22px; }
.vi_panel_props .minicolors-theme-uCoz .minicolors-swatch{top:0; left:0; cursor:pointer; width:20px; height:20px;border: 1px solid #000;}

/* Tmpl editor */
#tmpls-list .tbn, #tmplsuDiv .tbn{font-weight:bold; font-size:10pt; padding:4px 0 0 3px; }
#tmpls-list .tba a, #tmplsuDiv .tba a,
#tmpls-list .tba1 a, #tmplsuDiv .tba1 a,
#tmpls-list .tba2 a, #tmplsuDiv .tba2 a,
#tmpls-list .tba3 a, #tmplsuDiv .tba3 a,
#tmpls-list .tba4 a, #tmplsuDiv .tba4 a,
#tmpls-list .tba5 a, #tmplsuDiv .tba5 a{display:block; width:99.5%; text-decoration:none; cursor:pointer; padding:0 0 1px 20px; box-sizing:border-box; }
#tmpls-list .tba1 a, #tmplsuDiv .tba1 a{color:blue; }
#tmpls-list .tba2 a, #tmplsuDiv .tba2 a{color:green; }
#tmpls-list .tba3 a, #tmplsuDiv .tba3 a{color:#f90; }
#tmpls-list .tba4 a, #tmplsuDiv .tba4 a{color:#909090; }
#tmpls-list .tba5 a, #tmplsuDiv .tba5 a{color:maroon; }
#tmplsuDiv .active, #tmplsuDiv .active:hover{background:#ebebeb; }

/* Crossposting */
.myTbl5{border-collapse:collapse; }
.myTbl5 td:not(.myTblhmTD1):not(.x-post-select){border:1px solid #ccc; }
.myTblhTD1{background:#ececec; color:#707070; text-shadow:0px 1px 0px #fff; font-size:16px; font-weight:bold; }
#social_settings h2{display:inline; margin:0 0 15px; float:left; font-size:24px; font-weight:400; color:#707070; }
.myTblTDr1,
.myTblTDm2,
.myTblTDl3{background:#fff; }

#social_settings{padding:10px; }
td.disabledModule{opacity:0.5; }
a.send_link_2{pointer-events:none; cursor:default; filter:grayscale(1); -webkit-filter:grayscale(1); opacity:0.5; }

#social_settings select{max-width:93%; }
.refresh_groups{width:16px; height:16px; font-size:0px; color:transparent; border:none; margin:0; padding:0; display:inline-block;
	background:url('/.s/img/icon/refresh.png') no-repeat center center; cursor:pointer; vertical-align:3px; opacity:0.5; }
.refresh_groups:hover{opacity:1; }

.cp_connect,
.cp_disconnect{font:15px/16px sans-serif; display:inline-block; margin:0; cursor:pointer; padding:5px 20px; color:#fff; border-radius:5px; }
.cp_connect{border:1px solid #359441; text-shadow:1px 1px 0px #338f3f; box-shadow:inset 1px 1px 0px #8de398, inset -1px -1px 0px #8de398;
	background:#47c557; background-image:linear-gradient(#42b851, #4cd25e); cursor:pointer!important; white-space:nowrap; }
.cp_connect:hover{background-image:linear-gradient(#4cd25e, #42b851); }
.cp_disconnect{border:1px solid #949494; text-shadow:1px 1px 0px #818181; box-shadow:inset 1px 1px 0px #c5c5c5, inset -1px -1px 0px #c5c5c5;
	background:#c2c2c2; background-image:linear-gradient(rgb(166,166,166), rgb(194,194,194)); }
.cp_disconnect:hover{background-image:linear-gradient(rgb(194,194,194), rgb(166,166,166)); }

.noactive td{color:#b7b7b7; cursor:default !important; }
.noactive td label,
.noactive td input,
.noactive td button,
.noactive td select{cursor:default; }
.noactive td a{color:#b7b7b7; }
.noactive td:first-child img{opacity:0.5; filter:grayscale(1); -webkit-filter:grayscale(1); }
.noactive .refresh_groups:hover{opacity:0.5 !important; }

#social_settings #eMessage-d,
#social_settings #eMessage{margin:0 5px; }

/* Domains */

/* Moder-panel */
#moder-design-type ~ label{display:block; margin:7px 0 0;  }

/* Gadgets */
.gadgets ul{box-sizing:border-box; padding:0!important; margin:0!important; }
.gadgets ul > li{list-style:none; background:none!important; display:inline-block; box-sizing:border-box; padding:0 0 8px!important; vertical-align:top; }
.gadgets ul > li span{font-size:0.85em; }

/* Categories (list) */
.contentBg.CatsList .fa-meta-title{background:transparent url('/.s/img/ma/meta_title.png') no-repeat center center; }
.contentBg.CatsList .fa-meta-keywords{background:transparent url('/.s/img/ma/meta_keywords.png') no-repeat center center; }
.contentBg.CatsList .fa-meta-description{background:transparent url('/.s/img/ma/meta_description.png') no-repeat center center; }
.contentBg.CatsList .catIcons { display:inline; vertical-align:top }
.contentBg.CatsList .catIcons .fa { cursor:help }
.wndAddEditCat ul.catGroups{list-style:none; background:none; }
.wndAddEditCat ul.catGroups > li{background:none; padding:0 5px 0 0; margin:1px 0; display:inline-block; width:25%; box-sizing:border-box; }
.wndAddEditCat ul.catGroups > li > label{vertical-align:middle; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; }
.wndAddEditCat ul.catGroups > li > label > input{padding:0; margin:0 2px 2px 0; vertical-align:middle; }
ul.mConstr{padding:0 0 0 25px; }

/* captcha */
.captcha-block{box-sizing:border-box; display:inline-block!important; min-height:36px; cursor:pointer; }
.captcha-block > .captcha-answer{height:36px; text-align:center; font-size:16px; line-height:24px; padding:4px; width:125px; }
.captcha-renew,
.captcha-question{border:0; cursor:pointer; vertical-align:middle; }
#captcha-preview{width:100%; min-height:50px; background-repeat:no-repeat; background-position:0 0; margin:10px 0 0; }
#captcha-preview.type0{background-image:url('/.s/src/panel-v2/img/captcha_type_simple.png'); }
#captcha-preview.type1{background-image:url('/.s/src/panel-v2/img/captcha_type_standard.png'); }
#captcha-preview.type2{background-image:url('/.s/src/panel-v2/img/captcha_type_hard.png'); }
#captcha-preview.type3{background-image:url(''); }
#captcha-preview.type4{background-image:url('/.s/src/panel-v2/img/captcha_type_arithmetic.png'); }
#captcha-preview.type5{background-image:url('/.s/src/panel-v2/img/captcha_type_adverigo.png'); }
#captcha-preview.type6{background-image:url('/.s/src/panel-v2/img/captcha_type_recaptcha.gif'); background-size:250px; padding:75px 0 0; }
#captcha-preview.type4.en{background-image:url('/.s/src/panel-v2/img/captcha_type_arithmetic_en.png'); }
#captcha-preview .recaptcha-params{display:none; }
#captcha-preview.type6 .recaptcha-params{display:block; }
#captcha-preview.type6 .recaptcha-params select{min-width:25%; display:block; margin:0 0 7px; }
#captcha-preview.type6 .recaptcha-params input{width:100%; display:block; margin:0 0 7px; }
.recaptcha-wrapper { position:relative; width:303px; height:77px; overflow:hidden; }
.recaptcha-wrapper [id^="recaptcha_"]{text-align:left; display:inline-block; vertical-align:middle; }
.recaptcha-wrapper [id^="recaptcha_"] iframe{border:0; }
.recaptcha-wrapper span[data-reset]{display:inline-block; cursor:pointer; border-radius:40%; position:absolute; width:30px; height:30px;
	top:12px; right:26px; }
.recaptcha-wrapper.compact{width:159px; height:139px;  margin:0 auto; }
.recaptcha-wrapper.compact span[data-reset]{width:22px; height:22px; top:auto; bottom:31px; left:14px; }
form#lform #lfseccode .recaptcha-wrapper{margin:0 auto; }
form#lform[data-rtl] .recaptcha-wrapper span[data-reset]{width:30px; height:30px; top:12px; right:auto; left:26px; }

/* login form */
form#lform .label{width:35%; }
form#lform #lfseccode{text-align:center; position:relative; }

/* quarantine */
#unlockfrm{padding:0 6px; }
#unlockfrm .recaptcha-wrapper{margin:auto; }
#unlockfrm #eMessage{text-align:center; }

/* SEO-url add/edit site page */
form#grFormT5 .seo-field-text-counter{color:green; }
form#grFormT5 .seo-field-text-counter.error{color:red; }
form#grFormT5 .seo-mtf-hide{display:none; }
form#grFormT5 .seo-mtf-hide.seo-mtf-show{display:table-row; }

/* Shop icons */
#shop-main ul > li{background-repeat:no-repeat; background-position:left bottom; }
#curr-list .item input, #curr-list .item select{margin-right:10px }
.import-cont div.import-source { line-height:25px; min-height:25px; position:relative }
#import-tabs { line-height:22px; padding:3px 0 0 0!important; margin-bottom:4px; border-top:none!important; border-left:none!important; border-right:none!important; -moz-user-select:-moz-none }
#import-tabs a { border-bottom:none!important; padding:4px 4px 4px 22px; text-decoration:none; background-repeat:no-repeat; background-position:3px center; background-size:16px; outline:none }
#import-tabs-1c  { background-image:url("/.s/img/icon/1c.png")!important }
#import-tabs-xls { background-image:url("/.s/img/icon/xls.png")!important }
#import-tabs-yml { background-image:url("/.s/img/icon/yml.gif")!important }
#import-tabs-viber { background-image:url("/.s/img/icon/social/viber.png")!important }
#import-tabs-telegram { background-image:url("/.s/img/icon/social/telegram.png")!important }

/* Group rights */
.uGroupsRightSection{cursor:pointer; font-weight:bold; height:20px; }
.uGroupsRightSection:before{content:'\2795'; font:normal 0.8em sans-serif; }
.uGroupsRightSection.expanded:before{content:'\2796'; }
.all-groups-rights label { display:inline-flex; margin:.15em .5em .15em 0; }
.all-groups-rights label input { margin-right:.4em; }
.copy{font-size:0.8em }
.copy > label{white-space:nowrap; }
.reduceOpt{color:#aeaeae; }
.moderOpt{color:#00f; }
.adminOpt{color:#f00; }
.reduceOpt.reduce:after{content:'\2B63'; color:orange; }

/* Site replace */
#phone{position:relative; }
#phone td.pad{padding-left:10px; }
#phone.ico-stop{background-image:url('/.s/img/seo/warning.png')  }
#phone.ico-conf{background-image:url('/.s/img/icon/32/apl.png')  }
#phone.ico-code{background-image:url('/.s/img/icon/32/sms.png')  }
#phone .plus{font:normal 23px/23px 'Arial'; vertical-align:middle; direction:ltr; white-space:nowrap }
#phone textarea:focus, #phone input:focus{outline:none}
.gray-table td.gray-title span{text-decoration:none; background-repeat:no-repeat; padding-left:25px; background-position:left center }
.gray-table td.gray-title .phone{background-image:url("/.s/img/icon/phone.png") }
.gray-table td.gray-title .info{background-image:url("/.s/img/icon/nw.png") }
.gray-table td.gray-content ul{margin:0 3px; padding:0; list-style:none }
.gray-table td.gray-content ul.float li{padding:0 20px 0 20px; margin:0 }
.gray-table td.gray-content li{background-repeat:no-repeat }
.gray-table td.gray-content li.inactiv{text-decoration:underline }

.gray-table td.gray-content li.ico_chg{background-image:url("/.s/img/icon/pne.png")!important }
.gray-table td.gray-content li.ico_try{background-image:url("/.s/img/icon/tf.png")!important }
.gray-table td.gray-content li.ico_can{background-image:url("/.s/img/icon/cancel.png")!important }
.gray-table td.gray-content li.ico_non{background:none!important; padding-left:0!important }

/* panelX.css */
.subtitle{margin:0; padding:20px 0 10px 2px }
.cont-block{width:100%; border-radius:5px; border-spacing:0 }
.cont-table{width:100%; border-spacing:0; border-collapse:collapse }
.cont-table2{border-spacing:0; border-collapse:collapse }
td.level0{padding:0 20px }
.gray-table td.sub-title{width:50%; text-align:left; border-bottom:0; border-top:0 }
.gray-table td.gray-title{width:50%; font:bold 15px/25px 'Arial'; text-align:left; border-bottom:0 }
.gray-table td.gray-title div{position:relative; padding-left:55px; }
.gray-table td.gray-content div.gc-main{min-height:90px; background-position:5px 5px; background-repeat:no-repeat; }
.gray-table td.gray-content p, .gray-table td.gray-content div.p{margin:0; padding-left:60px; position:relative }
.gray-table tr:first-child td:last-child{border-top-right-radius:5px;}
.gray-table tr:first-child td:first-child{border-top-left-radius:5px;}
.gray-table tr:last-child td:first-child{border-bottom-left-radius:5px;}
.gray-table tr:last-child td:last-child{border-bottom-right-radius:5px;}
.gray-table tr:first-child td{border-top:0;}
.gray-table tr:last-child td{border-bottom:0;}
.gray-table tr td:first-child{border-left:0;}
.gray-table tr td:last-child{border-right:0;}
.site-url-wrapper {padding-right: 10px;}
/* phone confirm */
.cp-phone{padding:0 15px 15px; }
.cp-phone .cont-block:not(table){padding:12px; line-height:1.1rem; box-sizing:border-box; }

/* anticlone */
.cp-anticlone{padding:0 15px 15px; }
.cp-anticlone .cont-block:not(table){padding:12px; line-height:1.1rem; box-sizing:border-box; }

/* Menu Constructor */
ul#mConstructor.mConstr{list-style:none; font-size:14px; font-family:Verdana, Arial; }
.dropOver{font-weight:bold; }

/* table hover */
.myTbl{width:100%; border-spacing:1px; margin:0 auto; }
.myTbl.no-spacing { border-spacing:0; }
.myTbl.no-td-border{border-spacing:0; margin:0 auto; }
.myTbl thead tr{background:rgba(255, 255, 255, .3); background:#fff4; }
.myTbl tbody tr{background:rgba(255, 255, 255, .8); background:#fffc; }
.myTbl tbody tr:not(.noHover):hover{background:rgba(255, 255, 255, .63); background:#fffa; }
.myTbl th, .myTbl td{padding:4px; }

/* backup table */
.contentBg.backups > div{text-align:center; margin:1.5em; }
.myTbl.backups th:not(:nth-child(2)):not(:first-child):not(:last-child){width:15%; }
.myTbl.backups td:not(:nth-child(2)){text-align:center; }
.myTbl.backups td[colspan]{font-weight:bold; text-align:center; }
.myTbl.backups td:nth-child(2) a{font-weight:bold; }

/* polls */
.myTbl.polls .not-active td{color:gray; }
.myTbl.polls th:not(:nth-child(2)){min-width:12%; width:auto; }
.myTbl.polls th:first-child{min-width:4%; width:auto; }
.myTbl.polls td[colspan]{font-weight:bold; text-align:center; }
.myTbl.polls td:not(:nth-child(2)){text-align:center; }
.myTbl.polls td:nth-child(2){font-weight:bold; }
.myTbl.polls td:last-child{white-space:nowrap; }
.myTbl.polls td.archived:after{content:'[A]'; color:gray; font-size:.75em; font-weight:normal; }

/* users settings */
form.reg-type-1 .user-options,
form.reg-type-1 .policy-option,
form.reg-type-1 .label-reg-local,
form.reg-type-1 .agreement-option,
form.reg-type-1 .local-users-captcha,
form.reg-type-1 .email-notifications
{display:none; }  /* hide for uid users */
form.reg-type-2 .unet-fields,
form.reg-type-2 .label-reg-unet
{display:none; }  /* hide for local users */
[name=respect_on]:not(:checked) ~ * { display:none; }
.social-icons-container{min-height:45px; }
#soc-buttons-wrap{ display:inline-block; position:relative; width:300px; height:46px; padding:0 10px }
#soc-buttons-demo{ position:absolute; top:5px }
#soc-buttons-demo a, #soc-buttons-demo i{ cursor:default!important; vertical-align:middle }

/* Site setup */
input[name=cookiepolicy]:not(:checked) ~ * { display:none; }
.cookie-policy-params { display:grid; grid-template-columns:2fr 1fr; gap:1em; grid-gap:1em; }
.cookie-policy-params textarea { resize:vertical; }
.grid-maxwidth { grid-column-start:1; grid-column-end:3; }
#ckThemePreview{width:20vw; height:38px; display:inline-block; vertical-align:middle; overflow:hidden; min-width:135px; max-width:50%; background-position:left center; background-repeat:no-repeat; transition:all .5s; }
.etype-theme-preview[data-preview="0"]{background-image:url('/.s/src/ckeditor/skins/moonocolor/images/preview.png'); }
.etype-theme-preview[data-preview="1"]{background-image:url('/.s/src/ckeditor/skins/moono/images/preview.png'); }
.etype-theme-preview[data-preview="2"]{background-image:url('/.s/src/ckeditor/skins/moono-dark/images/preview.png'); }
/** CP switch poll popup (/panel/?a=setup) */
body.no--_scroll{overflow-y:hidden !important; padding-right:15px !important; }
.interview-popup-wrap{max-width:600px; width:80%; min-height:388px; border-radius:9px;
	background:#fff url("./images/interview_bg.png") center 32px no-repeat; outline:none; box-sizing:border-box;
	padding:237px 50px 70px 50px; position:relative; }
.interview-popup-wrap h2{color:#404246; font-size:21px; margin-bottom:11px; }
.interview-popup-wrap p{color:#686a6e; font-size:16px; line-height:1.5em; }
.interview-popup-wrap .close{display:block; position:absolute; top:13px; right:13px; width:28px; height:28px; border-radius:50%;
	font-family:"Material Icons"; line-height:28px; text-align:center; font-weight:800; font-size:16px; cursor:pointer;
	background-color:#bfbfbf; color:#fff; }
.interview-popup-wrap .close:hover{background-color:#afafaf; }
.interview-popup-wrap a.link-button{line-height:54px; border-radius:27px; display:inline-block; min-width:210px; padding:0;
	font-size:16px; text-decoration:none; margin:30px 0 10px 0; background-color:#ffcc00; color:#404246; font-weight:800; }
.interview-popup-wrap a.link-button:hover{background-color:#ffd429; }
.newcp-poll-popup{position:fixed; top:0; left:0; right:0; bottom:0; z-index:999999; background-color:rgba(0, 0, 0, 0.4); }
.newcp-poll-popup .popup-block{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); }
.newcp-poll-popup .popup-block .title,
.newcp-poll-popup .popup-block .description,
.newcp-poll-popup .popup-block .button{text-align:center; }
.newcp-poll-popup .popup-block .title{line-height:1.3; font-weight:normal; }
.newcp-poll-popup .popup-block .button{display:block; max-width:250px; margin-left:auto; margin-right:auto; }
.newcp-poll-popup .popup-block .close.close-btn line{stroke:white; stroke-width:2px; }
@media screen and (max-width:400px){
	.newcp-poll-popup .popup-block{background:white; padding:60px 16px 12px; }
}

/* Informers */
#mSets input#jsf:not(:checked) + span#kdkdk24{display:none; }

/* install module form */
.install-module{margin:0 4px 20px; }
.install-module fieldset{cursor:pointer; }
.install-module #loader{padding:15px 0 0; display:inline-block; }
.install-module #loader.wait-loader { width:64px; height:17px; }
.install-module #loader.wait-loader button { display:none; }

/* common loader new */
.wait-loader { background:transparent url('/.s/img/wait.svg') no-repeat center; min-width:2rem; min-height:2rem; }

/* rules/cookie|policy/agreement editor */
.contentBg.some-rules textarea { margin:.7em 0; resize:vertical; }
.contentBg.some-rules #eMessage { flex-grow:4; margin:0 6px 0 0; padding:2px 4px; }

/* smiles list */
.myTbl.smiles td{text-align:center; }

/* copyright types */
.copytypes label{display:inline-flex; margin:0 15px 0 0; }
.copytypes label > *{margin:0 0 0 4px; }

/* cp banners */
.cp-banner-wrapper{padding:5px 0; box-sizing:border-box; }
.cp-banner{padding:0 0 3px; box-sizing:border-box; }
.cp-banner-wrapper img{max-width:100%; border-radius:5px; }

/* filters */
.edit-filter input[name=name]{width:45%; min-width:250px; }
.edit-filter [options-manage]{display:flex; }
.edit-filter [options-manage] select{min-width:250px; width:100%; }
.edit-filter [options-manage] > span{width:45%; text-align:center; padding:0 5px 0 0; }
.edit-filter [options-manage] input[type=button]{margin:4px 0 0; }
.edit-filter [options-manage] input[type=text]{width:100%; }
.edit-filter [options-manage] > div{display:flex; flex-direction:column; width:45%; }
.edit-filter [options-manage] [add]{text-align:right; margin:50px 0 0; }
.edit-filter [options-manage] [edit] > div{display:flex; justify-content:space-between; }
input[name=mflt]:not(:checked) + label{display:none; }

/* new common content wrapper */
[container]{border:1px solid; border-radius:3px; padding:5px; box-shadow:inset 0 0 0 1px #fff; }
[container] > div{border:1px solid; padding:7px; }
[container] > div:not(:last-of-type) { margin:0 0 5px; }
/* left menu */
[container] div.menuBg{padding:0; }
/* header childs */
[container] .panelTop1{padding:0 0 0 12px; background-position:left center; line-height:1.3rem; }
[container] .panelBar{flex-grow:1; background-position:left -2px center; padding:0 12px; line-height:1.3rem; }
[container] [top-warning] { padding:.5rem 1.25rem; background:#fcf8e3; color:#8a6d3b; }
[container] [top-warning] a { color: #488bfa; }
/* content stat & paging */
[content-statistics]{margin:0 0 7px; }
[content-statistics] article{display:flex; }

/* grid presets */
.grid-2-columns, .grid-3-columns, .grid-4-columns, .grid-5-columns { display:grid; gap:.5em; }
.grid-2-columns { grid-template-columns:1fr 1fr; }
.grid-3-columns { grid-template-columns:repeat(3, 1fr); }
.grid-4-columns { grid-template-columns:repeat(4, 1fr); }
.grid-5-columns { grid-template-columns:repeat(5, 1fr); }

/* file manager */
#ufm_uploadform table td{vertical-align:top; }
#ufm_uploadform .checkbox-wrapper,
#ufm_uploadform .minus-wrapper,
#ufm_uploadform .plus-wrapper{width:24px; }
#ufm_uploadform .ufm-minus-file{margin:0; }
#ufm_uploadform .file-field{width:100%; }

/* stat */
.stat [new-alias]{padding:5px 0 0; }
.stat select{min-width:250px; margin:0 5px 0 0; }
.stat input[type=text]{min-width:250px; margin:0 5px 0 0; }
.stattypes label{display:inline-flex; margin:0 10px 5px 0; }
.stattypes label > *{margin:0 0 0 4px; }

/* my sites */
#mysites-list{position:relative; margin:5px 7px; line-height:30px; }
#mysites-list a{margin-left:10px; text-decoration:none; }
#mysites-list a:hover{text-decoration:underline; }
#mysites-list img{width:16px; height:16px; margin:0 0 0 20px; }
#mysites-list .site{float:left; width:400px; margin:10px; }
#mysites-list .serv{padding:0 10px 0 47px; line-height:32px; margin-bottom:7px; font-weight:bold; text-transform:uppercase; }


input[type='text'].standart.with-error{
	border-color:red;
}

.uHelp.with-error{
	background:red;
	margin:0 6px;
}
/*Error massage style*/
div[id^='frm'] {
	margin: 0 5px;
}

/* support */
.contentBg.ticket img{max-width:100%; }

/* mail forms */
[email-recipient-wrapper]{min-height:24px; }
[email-recipient-verify-status]{width:32px; height:20px; }

/* index editor page */
body.page-editor:not(.layer-7){padding:6px; }
#edttmessage[value="1"] + .symbols-stat-wrapper{display:none; }
.symbols-stat{margin:0 0 0 3px; }
.indexAddNumImgs{min-width:25px; display:inline-block; }

/* uweb domain info */
#uWebDomain{color:red;font-weight:700;margin-left:10px;}
.domenpage-content{background:#f7f7f7; border:1px solid #e3e3e5; border-radius:10px; margin:20px 15%;
	padding:15px 25px 15px 110px; position:relative; }
.domenpage-content span.display{width:181px; height:133px; background:url('/.s/img/welcome/uweb/uweb-d.png') no-repeat;
	position:absolute; top:30px; left:-90px; }
.domenpage-content p.big-text{font-size:120%; line-height:1.3em; }
.domenpage-content .wp-button{font-size:10pt; }
.wp-button.wpb-orange{background-color:#f7a63d; background-image:linear-gradient(to top, #ec8e14, #f7ac4b);
	border:1px solid #ec8e14; color:#fff; text-decoration:none; }
.wp-button.wpb-orange:hover{background-color:#f7ac4b; background-image:linear-gradient(to top, #f7991d, #ffa32c);
	border:1px solid #f39a26; }
.domenpage-content input.domen-name{font-size:16pt; border:1px solid #b5b8c8; box-shadow:0 1px 1px #fff; color:#b5b8c8; padding:5px; }
a.wp-question{background:url('/.s/img/welcome/uweb/wp-q.png') no-repeat scroll left center rgba(0, 0, 0, 0); color:#707070;
	display:inline-block; float:left; padding:0 0 0 18px; }

/* action log */
.action-log .myTbl td { font-size:.9em; overflow-wrap:anywhere; }
.action-log .last-action{color:blue; }
.action-log .panelBar{flex-grow:1; }
.action-log .paging-wrapper{margin:0 10px;  }

/* umail */
#passWrapper.hidden{display:none; }
.umail-content .header{padding:0 5px; }
.umail-content .error{text-align:left; }
.umail-content label{margin:4px 0 6px; }
.umail-content .type-wrapper{display:flex; flex-direction:column; }
.umail-content .submit-status{margin:5px 0 10px; }
.umail-content .login-wrapper label,
.umail-content .pass-wrapper label{font-weight:bold; /*! margin:5px 0; */  }
.umail-content .login-wrapper,
.umail-content .login-wrapper label,
.umail-content .pass-wrapper,
.umail-content .pass-wrapper label{flex-direction:column; display:flex; align-items:start; }
.umail-content .login-wrapper input,
.umail-content .pass-wrapper input{min-width:200px; margin:5px 0 0; }

/* /admin */
.cp-login-body{height:100vh; }
.cp-login-wrapper{min-width:350px; max-width:400px; }
@media screen and (max-width:375px) {
	.cp-login-wrapper{min-width:min-content; max-width:90%; }
}

/* massmail */
.users-massmail-content .categories article{line-height:1.5rem; }
.users-massmail-content .massmail-archive{margin:5px auto 0; }
.users-massmail-content .massmail-archive th:first-child{width:3%; }
.users-massmail-content .massmail-archive th:nth-child(2){width:15%; }
.users-massmail-content .massmail-archive th:last-child{width:auto; }

/* adviser */
.cp-adviser form{transition:0.5s; }
.cp-adviser .myTbl td:nth-child(3){width:5%; }
.wndAddEditAdvice .myWinCont form{padding:6px; }
.wndAddEditAdvice textarea{resize:vertical; width:100%; margin:0 0 1em; }
.wndAddEditAdvice input[type=text]{width:100%; }
.wndAddEditAdvice legend{margin:2px 0; }

/* uSocial */
.uSocial_preview{text-align:center; height:68px; padding:0 0 20px; position:relative; }
.uSocial_preview:before{content:''; display:block; width:100%; height:100%; position:absolute; z-index:5; }
.uSocial_icons{margin:0; padding:0; min-height:66px; }
.uSocial_icon{margin:0 0 10px 0; padding:0 5px; background:none; text-align:center; display:inline-block; }
.uSocial_icon label{display:block; width:32px; height:32px; line-height:32px; font-size:22px; border-radius:6px; }
/* .uSocial_icon input{margin-top:5px; } */
.uSocial-Share .ico_uscl.uscl-vi{background:#8950a1; }
.uSocial-Share .ico_uscl.uscl-wa{background:#25d366; }
.uSocial-Share .ico_uscl.uscl-telegram{background:#37aee2; }
.uSocial-Share .ico_uscl.uscl-sms{background:#488bfa; }
.uscl-block{font:400 1em PT Sans, sans-serif; }

/* uwnd */
.xw-shadow{box-shadow:2px 2px 4px rgba(0,0,0,.25); border-radius:3px; }

/* input color style */
input[type="color"] { width: 30px; height: 30px; margin: 0; padding: 2px; border: 1px solid #fff; border-radius: 2px; background: none; box-sizing:border-box; background-color:#dcdfe4; }
input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
input[type="color"]::-webkit-color-swatch { border: 1px solid #fff; border-radius: 2px; background-size:10px 10px; }
.color-picker { position: relative; width: 30px; height: 30px; }
.color-picker::after { content: ""; width: 10px; height: 10px; position: absolute; right: 3px; bottom: 3px;
	background: #dcdfe4 url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCo0LDRgF8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjVweCIgaGVpZ2h0PSIzLjJweCIgdmlld0JveD0iMCAwIDUgMy4yIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1IDMuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZD0iTTAuMywzLjJDMCwzLjItMC4xLDMsMC4xLDIuN2wyLTIuNWMwLjItMC4zLDAuNi0wLjMsMC44LDBsMiwyLjVDNS4xLDMsNSwzLjIsNC43LDMuMkgwLjN6Ii8+DQo8L3N2Zz4NCg==") no-repeat center center;
	border-left: 1px solid #fff; border-top: 1px solid #fff; z-index: 1; pointer-events: none; }

/* Quick replacement page */
.module-list { padding: 0; margin: 0; list-style: none; display: flex; flex-flow: column wrap; max-height: 120px; align-content: flex-start; }
.module-list input { margin-right: 0.5em; }
.module-list li { margin-right: 20px; }

/* tmaker */
.tmaker-wrapper textarea{margin:0 0 .5em; }
.tmaker-submenu{position:absolute; min-width:200px; }
.tmaker-submenu.tm-10vw{width:10vw; }
.tmaker-submenu.tm-33vw{width:33vw; }
.tmaker-submenu.tm-50vw{width:50vw; }
.tmaker-submenu ol { list-style:decimal; padding:0 0 0 1.3em; margin:0; }
#defaultDesigns [content]{overflow:auto; max-height:75vh; columns:6rem; column-rule:1px dashed; column-rule-color:rgba(0,0,0,.25); column-rule-color:#0003; column-gap:1rem; text-align:center; }

/* entries manage */
.entries-manage .-red, .entries-manage .-blue { font-weight:bold; }

/* usocial */
/* .cp-social{position:relative; padding:0 15px 15px; } */
.cp-social-grid{position:absolute; left:1px; top:1px; right:1px; bottom:1px; z-index:5; opacity:1; background:rgba(0,0,0, .25); background:#0003; }
.cp-social-grid-warning{width:50%; border:1px solid #777; text-align:center; padding:10px; line-height:1.5em; border-radius:4px; margin:15px; }
.cp-social-grid-warning h4{background:none; padding:0; }
.cp-social h3{flex-grow:4; padding:0; margin:1em 0; }
.cp-social .cp-social-status-wrapper{margin:0 10px; }
.cp-social .cp-social-status-wrapper:not(#eMessageTop) {width:43%; }
.cp-social .gray-table .gray-title{width:auto; }
.cp-social .gray-table .gc-main.social-icon{background-position:center center; width:100px; height:100px; overflow:hidden; border-radius:12px; background-repeat:no-repeat; }
.cp-social .disabled a { text-decoration:none }
.cp-social .disabled .social-icon { opacity:0.5 }
.cp-social .disabled .soc-toggle { color:silver!important; cursor:default }
.cp-social input.text, .cp-social input[type=button] { width: 350px }
/* .cp-social .tmplCodeH, .cp-social .tmplCodeHo { padding:4px 0!important } */

/* TODO old CP mobile version */
/* @media screen and (max-width:375px) {
	#panel-side { width:32px; }
	.MmenuOut .mnSub { display:none; }
	.mmenuItem { position:relative; }
	.mmenuItem:before { margin:0; }
	.mmenuItem .mml { position:absolute; top:0; bottom:0; height:auto; width:19px; text-indent:-99rem; }

	[container] .panelTop1 { flex-direction:column; align-items:flex-start;  }
	.grid-2-columns { grid-template-columns:1fr; }
}  */
