/*
* DC uchun WEB Sayt dizayni
* Digital Generation 2021
+ Web dasturlash bo'qilyapdimi
* FrontEnd sahifa
* Bajaruvchi: Tursunboyev O'rinboy
*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
  --bg: #fefefe;
  --primary: #ff6464;
  --secondry: #00a8cc;
  --dark: #21243d;
  --light: #8695a4;
  --font-heebo: 'Heebo', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
}
body{
  background-color: #eee;
  font-family: var(--font-heebo);
}
.wrapper{
  width: 1152px;
  margin: 0 auto;
  background-color: var(--bg);
}
.container{
  width: 880px;
  margin: 0 auto;
}
nav{
  position: fixed;
  width: 1152px;
  height: 80px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}
nav .mainMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}
nav .mainMenu li a{
  margin-right: 33px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
nav .mainMenu li a:active{
  background-color: #021C56;
  color: #fff;
}
nav .mainMenu li a:hover{
  width: 106px;
  height: 27px;
  font-weight: 500;
  color: var(--primary);
  font-size: 20px;
  line-height: 29px;
  text-align: right;

}
nav .openMenu{
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover{color: #4867AA;}
.fa-instagram:hover{color: #C23C88;}
.fa-telegram:hover{color: #34ACE0;}
.fa-github:hover{color: #1B1F23;}
.fa-youtube:hover{color: #FE0000;}


.admin_pic{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 3px solid #103F85;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a.link_home{
  padding-left:  20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #021C56;
}
a.link_home:hover, a.active{
  color: var(--primary);
}
.resume{
  height: 480px;
}
.resume .res_col{
  display: flex;
  flex-wrap: wrap;
}
.res_col .res_info{
  width: 506px;
  height: 105px;
}
.res_info .info_title{
  margin-top: 135px;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: var(--dark);
}
.res_info .info_sub_title{
  margin-bottom: 38px;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--dark);
}
.res_info .btn_download{
  width: 208px;
  height: 40px;
  padding: 10px 27px;
  border-radius: 3px;
  background-color: var(--primary);
}
.res_info a{
  width: 167px;
  height: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.res_info .btn_download:hover{
  border: 1px solid var(--primary);
}
.res_info .btn_download:hover,
.res_info a:hover{
  color: var(--primary);
  background-color: var(--bd);
}
.res_col .res_img img{
  position: absolute;
  margin-top: 120px;
  margin-left: 100px;
  width: 243px;
  height: 243px;
  border: 3px solid #103F85;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.rectangle, .works{
  width: 100%;
  height: 370px;
  margin: 0 auto;
}
.rectangle{
  background-color: #EDF7FA;
}
.recent_posts{
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--dark);
  font-weight: normal;
}
.recent_posts h4,
.featured_works h4{
  margin-top: 10px;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
}
.recent_posts a{
  width: 208px;
  height: 20px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #00A8CC;
}

.recent_posts a:hover{
  color: var(--primary);
}
.posts, .works_block, .work_info, .work_date_cat{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.posts .post_card{
  width: 430px;
  height: 262px;
  margin: 30px 0;
  padding: 23px 40px 23px 23px;
  background-color: var(--bg);
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}
.post_card .card_title{
  height: 85px;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: var(--dark);
}
.post_card .card_info{
  width: 374px;
  height: 34px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark);
}
.card_info .date{
  display: inline-block;
  margin-right: 10px;
}
.card_info .category{
  width: 239px;
  height: 34px;
  margin-left: 10px;
  display: inline-block;
  font-weight: normal;
  color: var(--dark);
  font-size: 18px;
  line-height: 26px;
}
.post_card .post{
  width: 368px;
  height: 117px;
  padding: 3px 30px 18px 0px;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  color: var(--dark);
}
.works{
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}
.works .featured_works{
  position: relative;
  width: 152px;
  height: 60px;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
  color: var(--dark);
}
.works_block{
  position: relative;
  height: 220px;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.work_img img{
  position: relative;
  top:10px;
  width: 246px;
  height: 180px;
  border-radius: 6px;
}
.work_title{
  position: relative;
  top:-180px;
  left:270px;
  width: 405px;
  height: 44px;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: var(--dark);
}
.work_date_cat{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work_date{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -135px;
  left: -135px;
  width: 82px;
  height: 25px;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: var(--bg);
  background: #142850;
  border-radius: 16px;
}
.work_cat{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -135px;
  left: -235px;
  width: 374px;
  height: 34px;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: var(--light);
}
.work{
  position: relative;
  top: -105px;
  left: 270px;
  width: 594px;
  height: 93px;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--dark);
}
.blogs{
  width: 100%;
  margin: 0 auto;
}
.blogs .title{
  width: 156px;
  height: 54px;
  margin: 90px auto;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: var(--dark);
}
footer{
  position: relative;
  height:  165px;
  margin-bottom: 30px;
}
footer .social{
  margin: 10px auto;
  margin-top: calc(90px - 21px/2 + 26.5px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.social a img{
  color: var(--dark);
  margin: 10px;
  width: 35px;
  height: 35px;
}
.social a img:hover{
  color: var(--primary);
}
footer .copy{
  width: 100%;
  height: 21px;
  margin-bottom: 40px;
  font-weight: normal;
  color: var(--dark);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

@media screen and (max-width: 947px) {
  nav{
    margin: 0 auto;
  }
  nav .mainMenu{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu li a,
  nav .mainMenu li a:hover{
    font-size: 22px;
  }
  nav .mainMenu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu{
    display: block;
  }
  nav .mainMenu li a:hover{
    background-color: #021C56;
    padding: 15px;
    color: #fff;
    font-size: 1.6rem;
  }
  .icons i{
    display: inline-block;
    padding: 14px;
  }
.wrapper{
  width: 100%;
}

}
