* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-team {
    font-weight: 700;
    color: #fff;
}

.pro_1,
.pro_2,
.pro_3,
.pro_4,
.pro_5,
.pro_6 {
    background-color: #fff;
    padding: 8px;
    text-align: center;
    border: 1px solid #f0f3fa;
    border-radius: 10px;
}

.img-area {
    background-color: #fff;
    padding: 8px;
    text-align: center;
    border: 1px solid #f0f3fa;
    border-radius: 10px;
}

.owl-dots {
    text-align: center;
}

.owl-dot {
    display: inline-block !important;
    height: 6px !important;
    width: 15px !important;
    background-color: #ddd !important;
    opacity: 0.8;
    border-radius: 4px;
    margin: 0px 4px;
}

.owl-dot.active {
    background-color: #513e8a !important;
}

.owl-theme .owl-dots .owl-dot span {
    display: none !important;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 50px;
    color: #fff !important;
}

.owl-prev {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-130%);
}

.owl-next {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-130%);
}

.owl-nav button:focus {
    outline: none !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent !important;
    color: #000 !important;
}

.feature-img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 100%;
    background: #fff;
    padding: 2px;
    margin-top: -12px;
    overflow: hidden;
}

.feature-details h2 {
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.62px;
    color: #000000;
    margin-top: 2px;
}

.feature-details span {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: -0.36px;
    color: #6c6f76;
}