@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #EEEEEE;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
}
header{
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 25px 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #021C56;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav{
  position: fixed;
  z-index: 1;
  top:0; left:0; right: 0;
  width: 100%;
  height: 80px;
  margin: 60px auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
nav .mainMenu {
  display: flex;
}
nav .mainMenu li a{
  display: inline-block;
  padding: 16px;
  text-decoration: uppercase;
  font-size: 1.1rem;
  color: #021C56;
  font-weight: 600;
}
nav .mainMenu li a:active{
  width: 100%;
  background-color: #021C56;
  font-size: 32px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
nav .mainMenu li a:hover{
  border: 1px solid #021C56;
  width: 100%;
  padding: 22px;
  font-size: 22px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
nav .openMenu{
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover{color: #4867AA;}
.fa-instagram:hover{color: #C23C88;}
.fa-telegram:hover{color: #34ACE0;}
.fa-github:hover{color: #1B1F23;}
.fa-youtube:hover{color: #FE0000;}


.admin_pic{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 3px solid #103F85;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a.link_home{
  padding-left:  20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #021C56;
}
.container{
  margin: 160px auto;
  width: 927px;
}
.homeworks, .courses{
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: space-around;
  align-items: center;
}
.work, .course{
  display: inline-block;
  width: 300px;
  height: 70px;
  margin: 3px;
  padding: 15px 0;
  background-color: #fff;
  color: #021C56;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.work{
  width: 300px;
  height: 50px;
}
.course{
  width: 410px;
  height: 50px;
}
.work:hover, .course:hover{
  border: 1px solid #021C56;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.work:active, .course:active{
  background-color: #021C56;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about, .blog, .contact{
  width: 100%;
  margin: 30px auto;
  padding: 36px;
  line-height: 25px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
h2, h3, h4, footer{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 20px auto;
}
 p{
  margin: 20px auto;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}
.about ol li{
  margin-left: 15px;
  text-align: justify;
  list-style-type: numeric;
  font-family: 'Montserrat', sans-serif;
}
.about_img{
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card{
  width: 450px;
  margin: 20px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #eee;
}
.logo_wf{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 927px) {

html{
    font-size: 55%;
}

body{
    padding-right: 0;
}

section{
    padding:2rem;
}
header{
  top: 9rem;
}
.title{
  position: relative;
  width: 410px;
  height: 50px;
  margin: 30px auto;
  padding: 13px;
}
nav{
  margin: 0 auto;
}
nav .mainMenu{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: top 1s ease;
  display: none;
}
nav .mainMenu li a,
nav .mainMenu li a:hover{
  font-size: 22px;
}
nav .mainMenu .closeMenu{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
nav .openMenu{
  display: block;
}
nav .mainMenu li a:hover{
  background-color: #021C56;
  padding: 15px;
  color: #fff;
  font-size: 1.6rem;
}
.icons i{
  display: inline-block;
  padding: 14px;
}
.work, .course{
  width: 100%;
  height: 70px;
  font-size: 20px;
}
.container{
  width: 95%;
}
.card{
  width: 100%;
  padding: 5px;
  margin: 20px auto;
}
.card p{
  padding: 15px;
}
@media screen and (max-width: 600px) {
.logo_wf img{
  width: 85%;
}

.about, .blog, .contact{
  width: 95%;
  margin: 10px auto;
  padding: 16px;
  }
.container img{
  width: 100%;
  margin: 0 auto;
}
}
