*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #EEEEEE;col
}
header{
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #021C56;
  color: #fff;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav{
  width: 100%;
  height: 90px;
  margin: 90px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFEFE;
}
ul{
  position: relative;
}
.admin_pic{
  width: 80px;
  height: 80px;
  border: 3px solid #103F85;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.link_h{
  position: relative;
  display: inline-block;
}
.container{
  margin: 0px auto;
  width: 921px;
}
