<!-- Header Start -->
<header>
    <!-- Logo Start -->
    <a href="index.html" class="logo"><i class="fa fa-cubes" aria-hidden="true"></i> OsonSavdo</a>
    <!-- Logo end -->

    <!-- Nav Start -->
    <ul class="navigation">
        <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Bosh sahifa</a></li>
        <li><a href="index.html#loyiha"><i class="fa fa-info" aria-hidden="true"></i> Loyiha haqida</a></li>
        <li><a href="index.html#contact"><i class="fa fa-user" aria-hidden="true"></i> Bog'lanish</a></li>
    </ul>
    <!-- Nav end -->

    <!-- Search Start -->
    <div class="search">
        <input type="text" name="search" id="search" placeholder="Qidiruv">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <!-- Search end -->
</header>
<!-- Header end -->