@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.navbar .nav-item {
  font-weight: 700;
  margin: 0 20px;
}

.nav-item a.active {
  border-bottom: 2px solid #5454d4;
}
.hero_title {
  font-weight: 700;
  font-size: 80px;
}
.hero_tagline {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: -0.625263px;

  color: #696871;
}
.feature_card:hover {
  transition: 0.3s all;
  background-color: #ff7143;
  color: #fff !important;
  cursor: default;
  border-radius: 10px;
}
